@model DoAnWebBanHang.Service.Models.ForgotPasswordDto

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        <h3>Đăng nhập</h3>
        @using (Html.BeginForm("forgotpassword", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div>
                <span>Tài khoản<label>*</label></span>
                @Html.TextBoxFor(model => model.Email)
            </div>
            <input type="submit" value="Gửi">
        }

    </div>
</div>
