<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PageSize" value="5"/>
	<add key="MaxPage" value="5"/>

	<add key="SMTPHost" value="smtp.gmail.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="quanglm72@wru.vn"/>
	<add key="FromEmailPassword" value="25101999"/>
	<add key="FromName" value="TEDU"/>
	<add key="AdminEmail" value="quanglmbluewind@gmail.com"/>
	<add key="CurrentLink" value="http://localhost:44328/"/>
	<add key="ReportFolder" value="/Reports"/>
</appSettings>